<body>
    <header class="header">
        <div class="company-name">ООО "НоваДом"</div>
        <div class="company-subtitle">Система безопасности, видеонаблюдение, охранная сигнализация</div>
        
        <div class="contact-info">
            <div class="contact-text">
                <div class="working-hours">Круглосуточно</div>
                <a href="tel:+7994444451" class="phone-number">+7 (922) 128-62-22</a>
            </div>
            <button class="feedback-button">Обратная связь</button>
        </div>


        <nav class="nav-menu">
            <a href="main-view" class="nav-item">Главная</a>
            <a href="company-page" class="nav-item">О компании</a>
            <a href="services-page" class="nav-item">Услуги</a>
            <a href="contacts-page" class="nav-item">Контакты</a>
            <a href="equipment-page" class="nav-item">Оборудование</a>
            <a href="about-page" class="nav-item">Отзывы</a>
        </nav>
    </header>

    <main class="main-content">
        <div class="rounded-image-container">
            <img src="assets/images/camera.jpg" alt="Камера видеонаблюдения" class="rounded-image">
           
        </div>
        
        <!-- Контактная информация -->
      
        <!-- Секция с информацией о компании -->
        <section class="company-info-section">
            <div class="company-info-container">
                <h2 class="company-info-title">О компании</h2>
                
                <div class="company-description">
                    <p>ООО "НоваДом" - это современная, динамично развивающаяся компания, специализирующаяся на разработке и внедрении комплексных систем безопасности для частных домов, квартир и коммерческих объектов. Наша компания была основана в 2014 году группой профессионалов с многолетним опытом работы в сфере охранных технологий.</p>
                    
                    <p>За 11 лет успешной работы мы заслужили репутацию надежного партнера, который гарантирует высокое качество услуг и индивидуальный подход к каждому клиенту. Мы постоянно следим за инновациями в области систем безопасности и внедряем только проверенные и эффективные решения.</p>
                    
                    <p>Наша миссия - создавать безопасную среду для жизни и работы наших клиентов, используя передовые технологии и профессиональный подход. Мы стремимся быть лидером в сфере систем безопасности, предлагая комплексные решения, которые отвечают самым высоким стандартам надежности и эффективности.</p>
                </div>
                
                <!-- Официальное описание компании -->
                <div class="company-details">
                    <h3 class="details-title">Описание</h3>
                    <div class="details-content">
                        <p>Компания Общество с ограниченной ответственностью «НоваДом» зарегистрирована 13.08.2014 г. по адресу обл. Свердловская, г. Сухой Лог, ул. Фучика, д. 4, кв. 6.</p>
                        
                        <p>Краткое наименование: ООО «НоваДом».</p>
                        
                        <p>При регистрации организации присвоен ОГРН 1146633000997, ИНН 6633022450 и КПП 663301001.<br>
                        Юридический адрес: обл. Свердловская, г. Сухой Лог, ул. Фучика, д. 4, кв. 6.</p>
                        
                        <div class="details-grid">
                            <div class="details-item">
                                <div class="details-label">Генеральный директор:</div>
                                <div class="details-value">Мурзин Роман Игоревич</div>
                            </div>
                            <div class="details-item">
                                <div class="details-label">Учредители компании:</div>
                                <div class="details-value">Мурзин Роман Игоревич</div>
                            </div>
                            <div class="details-item">
                                <div class="details-label">Численность сотрудников:</div>
                                <div class="details-value">1 человек</div>
                            </div>
                        </div>
                        
                        <p>В соответствии с данными ЕГРЮЛ, основной вид деятельности компании Общество с ограниченной ответственностью «НоваДом» по ОКВЭД: 43.21 Производство электромонтажных работ.<br>
                        Общее количество направлений деятельности — 122.</p>
                    </div>
                </div>
                
                <!-- Преимущества компании -->
                <div class="company-advantages">
                    <h3 class="advantages-title">Наши преимущества</h3>
                    <div class="advantages-grid">
                        <!-- Преимущество 1 -->
                        <div class="advantage-item">
                            <div class="advantage-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                    <path d="M20 7h-8V3H4v18h16V7z"></path>
                                    <path d="M12 7v7l3.5 3.5M12 7v7l-3.5 3.5"></path>
                                </svg>
                            </div>
                            <div class="advantage-content">
                                <h4>Профессионализм</h4>
                                <p>Наша команда состоит из сертифицированных специалистов с многолетним опытом работы в сфере безопасности.</p>
                            </div>
                        </div>
                        
                        <!-- Преимущество 2 -->
                        <div class="advantage-item">
                            <div class="advantage-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                    <path d="M12 21a9 9 0 0 1-9-9c0-4.97 4.03-9 9-9s9 4.03 9 9a9 9 0 0 1-9 9z"></path>
                                    <path d="M12 6v6l4 2"></path>
                                </svg>
                            </div>
                            <div class="advantage-content">
                                <h4>Индивидуальный подход</h4>
                                <p>Мы разрабатываем системы безопасности с учетом особенностей объекта и пожеланий клиента.</p>
                            </div>
                        </div>
                        
                        <!-- Преимущество 3 -->
                        <div class="advantage-item">
                            <div class="advantage-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                    <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
                                </svg>
                            </div>
                            <div class="advantage-content">
                                <h4>Гарантия качества</h4>
                                <p>Мы предоставляем гарантию на все установленное оборудование и выполненные работы.</p>
                            </div>
                        </div>
                        
                        <!-- Преимущество 4 -->
                        <div class="advantage-item">
                            <div class="advantage-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                    <circle cx="12" cy="12" r="10"></circle>
                                    <path d="M12 16v-4"></path>
                                    <path d="M12 8h.01"></path>
                                </svg>
                            </div>
                            <div class="advantage-content">
                                <h4>Техническая поддержка</h4>
                                <p>Мы обеспечиваем круглосуточную техническую поддержку и оперативное реагирование на запросы клиентов.</p>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- Достижения компании -->
                <div class="company-achievements">
                    <h3 class="achievements-title">Наши достижения</h3>
                    <div class="achievements-grid">
                        <!-- Достижение 1 -->
                        <div class="achievement-item">
                            <div class="achievement-number">500+</div>
                            <div class="achievement-text">Выполненных проектов</div>
                        </div>
                        
                        <!-- Достижение 2 -->
                        <div class="achievement-item">
                            <div class="achievement-number">100%</div>
                            <div class="achievement-text">Довольных клиентов</div>
                        </div>
                        
                        <!-- Достижение 3 -->
                        <div class="achievement-item">
                            <div class="achievement-number">11</div>
                            <div class="achievement-text">Лет на рынке</div>
                        </div>
                        
                        <!-- Достижение 4 -->
                        <div class="achievement-item">
                            <div class="achievement-number">24/7</div>
                            <div class="achievement-text">Режим работы</div>
                        </div>
                    </div>
                </div>
                
                <!-- Коды статистики -->
                <div class="company-codes">
                    <h3 class="codes-title">Коды статистики</h3>
                    <div class="codes-grid">
                        <div class="code-item">
                            <div class="code-name">ОКПО</div>
                            <div class="code-value">41717187</div>
                        </div>
                        <div class="code-item">
                            <div class="code-name">ОКАТО</div>
                            <div class="code-value">65240501000</div>
                        </div>
                        <div class="code-item">
                            <div class="code-name">ОКТМО</div>
                            <div class="code-value">65758000001</div>
                        </div>
                        <div class="code-item">
                            <div class="code-name">ОКФС</div>
                            <div class="code-value">16</div>
                        </div>
                        <div class="code-item">
                            <div class="code-name">ОКОГУ</div>
                            <div class="code-value">4210014</div>
                        </div>
                        <div class="code-item">
                            <div class="code-name">ОКОПФ</div>
                            <div class="code-value">12300</div>
                        </div>
                    </div>
                </div>

                <!-- Регистрация ФНС -->
                <div class="company-fns">
                    <h3 class="fns-title">Регистрация ФНС</h3>
                    <div class="fns-content">
                        <div class="fns-item">
                            <div class="fns-label">Дата регистрации:</div>
                            <div class="fns-value">8 октября 2015</div>
                        </div>
                        <div class="fns-item">
                            <div class="fns-label">Код налогового органа:</div>
                            <div class="fns-value">6658</div>
                        </div>
                        <div class="fns-item">
                            <div class="fns-label">Наименование налогового органа:</div>
                            <div class="fns-value">Инспекция Федеральной налоговой службы по Верх-Исетскому району г.Екатеринбурга</div>
                        </div>
                        <div class="fns-item">
                            <div class="fns-label">Адрес налоговой:</div>
                            <div class="fns-value">620014, Екатеринбург г, Хомякова ул, 4</div>
                        </div>
                    </div>
                </div>
                
                <!-- Виды деятельности -->
                <div class="company-activities">
                    <h3 class="activities-title">Виды деятельности</h3>
                    
                    <!-- Основной вид деятельности -->
                    <div class="main-activity">
                        <div class="activity-header">
                            <h4>Основной</h4>
                        </div>
                        <div class="activity-item">
                            <div class="activity-code">43.21</div>
                            <div class="activity-name">Производство электромонтажных работ</div>
                        </div>
                    </div>
                    
                    <!-- Дополнительные виды деятельности -->
                    <div class="additional-activities">
                        <div class="activity-header">
                            <h4>Дополнительные</h4>
                            <button class="toggle-button" (click)="toggleActivities()">
                                <span class="toggle-icon">+</span> Развернуть все
                            </button>
                        </div>
                        
                        <div id="activitiesList" class="activities-list collapsed">
                            <div class="activity-item">
                                <div class="activity-code">41.20</div>
                                <div class="activity-name">Строительство жилых и нежилых зданий</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">43.11</div>
                                <div class="activity-name">Разборка и снос зданий</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">43.12.3</div>
                                <div class="activity-name">Производство земляных работ</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">43.22</div>
                                <div class="activity-name">Производство санитарно-технических работ, монтаж отопительных систем и систем кондиционирования воздуха</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">43.29</div>
                                <div class="activity-name">Производство прочих строительно-монтажных работ</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">43.31</div>
                                <div class="activity-name">Производство штукатурных работ</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">43.32</div>
                                <div class="activity-name">Работы столярные и плотничные</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">43.33</div>
                                <div class="activity-name">Работы по устройству покрытий полов и облицовке стен</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">43.34</div>
                                <div class="activity-name">Производство малярных и стекольных работ</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">43.39</div>
                                <div class="activity-name">Производство прочих отделочных и завершающих работ</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">43.91</div>
                                <div class="activity-name">Производство кровельных работ</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">43.99</div>
                                <div class="activity-name">Работы строительные специализированные прочие, не включенные в другие группировки</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">43.99.1</div>
                                <div class="activity-name">Работы гидроизоляционные</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">45.1</div>
                                <div class="activity-name">Торговля автотранспортными средствами</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">45.20</div>
                                <div class="activity-name">Техническое обслуживание и ремонт автотранспортных средств</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">45.3</div>
                                <div class="activity-name">Торговля автомобильными деталями, узлами и принадлежностями</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">45.40</div>
                                <div class="activity-name">Торговля мотоциклами, их деталями, узлами и принадлежностями; техническое обслуживание и ремонт мотоциклов</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">46.11</div>
                                <div class="activity-name">Деятельность агентов по оптовой торговле сельскохозяйственным сырьем, живыми животными, текстильным сырьем и полуфабрикатами</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">46.12</div>
                                <div class="activity-name">Деятельность агентов по оптовой торговле топливом, рудами, металлами и химическими веществами</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">46.13</div>
                                <div class="activity-name">Деятельность агентов по оптовой торговле лесоматериалами и строительными материалами</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">46.14</div>
                                <div class="activity-name">Деятельность агентов по оптовой торговле машинами, промышленным оборудованием, судами и летательными аппаратами</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">46.15</div>
                                <div class="activity-name">Деятельность агентов по оптовой торговле мебелью, бытовыми товарами, скобяными, ножевыми и прочими металлическими изделиями</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">46.16</div>
                                <div class="activity-name">Деятельность агентов по оптовой торговле текстильными изделиями, одеждой, обувью, изделиями из кожи и меха</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">46.17</div>
                                <div class="activity-name">Деятельность агентов по оптовой торговле пищевыми продуктами, напитками и табачными изделиями</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">46.18</div>
                                <div class="activity-name">Деятельность агентов, специализирующихся на оптовой торговле прочими отдельными видами товаров</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">46.19</div>
                                <div class="activity-name">Деятельность агентов по оптовой торговле универсальным ассортиментом товаров</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">46.31</div>
                                <div class="activity-name">Торговля оптовая фруктами и овощами</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">46.31.11</div>
                                <div class="activity-name">Торговля оптовая свежим картофелем</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">46.32</div>
                                <div class="activity-name">Торговля оптовая мясом и мясными продуктами</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">46.32.3</div>
                                <div class="activity-name">Торговля оптовая консервами из мяса и мяса птицы</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">46.33</div>
                                <div class="activity-name">Торговля оптовая молочными продуктами, яйцами и пищевыми маслами и жирами</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">46.34</div>
                                <div class="activity-name">Торговля оптовая напитками</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">46.36</div>
                                <div class="activity-name">Торговля оптовая сахаром, шоколадом и сахаристыми кондитерскими изделиями</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">46.37</div>
                                <div class="activity-name">Торговля оптовая кофе, чаем, какао и пряностями</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">46.38</div>
                                <div class="activity-name">Торговля оптовая прочими пищевыми продуктами, включая рыбу, ракообразных и моллюсков</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">46.39</div>
                                <div class="activity-name">Торговля оптовая неспециализированная пищевыми продуктами, напитками и табачными изделиями</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">46.41</div>
                                <div class="activity-name">Торговля оптовая текстильными изделиями</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">46.41.2</div>
                                <div class="activity-name">Торговля оптовая галантерейными изделиями</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">46.42</div>
                                <div class="activity-name">Торговля оптовая одеждой и обувью</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">46.43</div>
                                <div class="activity-name">Торговля оптовая бытовыми электротоварами</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">46.44</div>
                                <div class="activity-name">Торговля оптовая изделиями из керамики и стекла и чистящими средствами</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">46.45</div>
                                <div class="activity-name">Торговля оптовая парфюмерными и косметическими товарами</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">46.49</div>
                                <div class="activity-name">Торговля оптовая прочими бытовыми товарами</div>
                            </div>
                            <!-- Остальные виды деятельности -->
                            <div class="activity-item">
                                <div class="activity-code">46.69</div>
                                <div class="activity-name">Торговля оптовая прочими машинами и оборудованием</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">46.72</div>
                                <div class="activity-name">Торговля оптовая металлами и металлическими рудами</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">46.73</div>
                                <div class="activity-name">Торговля оптовая лесоматериалами, строительными материалами и санитарно-техническим оборудованием</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">46.74</div>
                                <div class="activity-name">Торговля оптовая скобяными изделиями, водопроводным и отопительным оборудованием и принадлежностями</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">46.75</div>
                                <div class="activity-name">Торговля оптовая химическими продуктами</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">46.76</div>
                                <div class="activity-name">Торговля оптовая прочими промежуточными продуктами</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">46.77</div>
                                <div class="activity-name">Торговля оптовая отходами и ломом</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">46.90</div>
                                <div class="activity-name">Торговля оптовая неспециализированная</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">47.11</div>
                                <div class="activity-name">Торговля розничная преимущественно пищевыми продуктами, включая напитки, и табачными изделиями в неспециализированных магазинах</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">47.19</div>
                                <div class="activity-name">Торговля розничная прочая в неспециализированных магазинах</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">47.29</div>
                                <div class="activity-name">Торговля розничная прочими пищевыми продуктами в специализированных магазинах</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">47.30</div>
                                <div class="activity-name">Торговля розничная моторным топливом в специализированных магазинах</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">47.43</div>
                                <div class="activity-name">Торговля розничная аудио- и видеотехникой в специализированных магазинах</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">47.52</div>
                                <div class="activity-name">Торговля розничная скобяными изделиями, лакокрасочными материалами и стеклом в специализированных магазинах</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">47.54</div>
                                <div class="activity-name">Торговля розничная бытовыми электротоварами в специализированных магазинах</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">47.59</div>
                                <div class="activity-name">Торговля розничная мебелью, осветительными приборами и прочими бытовыми изделиями в специализированных магазинах</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">47.61</div>
                                <div class="activity-name">Торговля розничная книгами в специализированных магазинах</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">47.7</div>
                                <div class="activity-name">Торговля розничная прочими товарами в специализированных магазинах</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">47.71</div>
                                <div class="activity-name">Торговля розничная одеждой в специализированных магазинах</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">47.72</div>
                                <div class="activity-name">Торговля розничная обувью и изделиями из кожи в специализированных магазинах</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">47.79</div>
                                <div class="activity-name">Торговля розничная бывшими в употреблении товарами в магазинах</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">47.9</div>
                                <div class="activity-name">Торговля розничная вне магазинов, палаток, рынков</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">47.99</div>
                                <div class="activity-name">Торговля розничная прочая вне магазинов, палаток, рынков</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">49.4</div>
                                <div class="activity-name">Деятельность автомобильного грузового транспорта и услуги по перевозкам</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">52.10</div>
                                <div class="activity-name">Деятельность по складированию и хранению</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">52.29</div>
                                <div class="activity-name">Деятельность вспомогательная прочая, связанная с перевозками</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">53.20.3</div>
                                <div class="activity-name">Деятельность курьерская</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">55.10</div>
                                <div class="activity-name">Деятельность гостиниц и прочих мест для временного проживания</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">55.20</div>
                                <div class="activity-name">Деятельность по предоставлению мест для краткосрочного проживания</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">56.10</div>
                                <div class="activity-name">Деятельность ресторанов и услуги по доставке продуктов питания</div>
                            </div>
                            <!-- И так далее для всех остальных кодов -->
                            <div class="activity-item">
                                <div class="activity-code">56.10.1</div>
                                <div class="activity-name">Деятельность ресторанов и кафе с полным ресторанным обслуживанием, кафетериев, ресторанов быстрого питания и самообслуживания</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">56.10.3</div>
                                <div class="activity-name">Деятельность ресторанов и баров по обеспечению питанием в железнодорожных вагонах-ресторанах и на судах</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">56.29</div>
                                <div class="activity-name">Деятельность предприятий общественного питания по прочим видам организации питания</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">56.30</div>
                                <div class="activity-name">Подача напитков</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">61.10</div>
                                <div class="activity-name">Деятельность в области связи на базе проводных технологий</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">62.01</div>
                                <div class="activity-name">Разработка компьютерного программного обеспечения</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">62.02</div>
                                <div class="activity-name">Деятельность консультативная и работы в области компьютерных технологий</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">62.09</div>
                                <div class="activity-name">Деятельность, связанная с использованием вычислительной техники и информационных технологий, прочая</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">63.11.1</div>
                                <div class="activity-name">Деятельность по созданию и использованию баз данных и информационных ресурсов</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">63.91</div>
                                <div class="activity-name">Деятельность информационных агентств</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">68.10</div>
                                <div class="activity-name">Покупка и продажа собственного недвижимого имущества</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">68.10.1</div>
                                <div class="activity-name">Подготовка к продаже собственного недвижимого имущества</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">68.20</div>
                                <div class="activity-name">Аренда и управление собственным или арендованным недвижимым имуществом</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">68.31</div>
                                <div class="activity-name">Деятельность агентств недвижимости за вознаграждение или на договорной основе</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">68.32</div>
                                <div class="activity-name">Управление недвижимым имуществом за вознаграждение или на договорной основе</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">69.10</div>
                                <div class="activity-name">Деятельность в области права</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">69.20</div>
                                <div class="activity-name">Деятельность по оказанию услуг в области бухгалтерского учета, по проведению финансового аудита, по налоговому консультированию</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">70.22</div>
                                <div class="activity-name">Консультирование по вопросам коммерческой деятельности и управления</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">71.1</div>
                                <div class="activity-name">Деятельность в области архитектуры, инженерных изысканий и предоставление технических консультаций в этих областях</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">71.12.5</div>
                                <div class="activity-name">Деятельность в области гидрометеорологии и смежных с ней областях, мониторинга состояния окружающей среды, ее загрязнения</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">71.12.6</div>
                                <div class="activity-name">Деятельность в области технического регулирования, стандартизации, метрологии, аккредитации, каталогизации продукции</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">73.11</div>
                                <div class="activity-name">Деятельность рекламных агентств</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">74.20</div>
                                <div class="activity-name">Деятельность в области фотографии</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">77.11</div>
                                <div class="activity-name">Аренда и лизинг легковых автомобилей и легких автотранспортных средств</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">77.29</div>
                                <div class="activity-name">Прокат и аренда прочих предметов личного пользования и хозяйственно-бытового назначения</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">77.32</div>
                                <div class="activity-name">Аренда и лизинг строительных машин и оборудования</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">77.33</div>
                                <div class="activity-name">Аренда и лизинг офисных машин и оборудования, включая вычислительную технику</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">77.39.11</div>
                                <div class="activity-name">Аренда и лизинг прочего автомобильного транспорта и оборудования</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">77.39.2</div>
                                <div class="activity-name">Аренда и лизинг прочих машин и оборудования, не включенных в другие группировки</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">79.11</div>
                                <div class="activity-name">Деятельность туристических агентств</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">80.10</div>
                                <div class="activity-name">Деятельность охранных служб, в том числе частных</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">80.20</div>
                                <div class="activity-name">Деятельность систем обеспечения безопасности</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">80.30</div>
                                <div class="activity-name">Деятельность по расследованию</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">81.22</div>
                                <div class="activity-name">Деятельность по чистке и уборке жилых зданий и нежилых помещений прочая</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">81.29.9</div>
                                <div class="activity-name">Деятельность по чистке и уборке прочая, не включенная в другие группировки</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">82.99</div>
                                <div class="activity-name">Деятельность по предоставлению прочих вспомогательных услуг для бизнеса, не включенная в другие группировки</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">85.11</div>
                                <div class="activity-name">Образование дошкольное</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">85.12</div>
                                <div class="activity-name">Образование начальное общее</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">85.42.9</div>
                                <div class="activity-name">Деятельность по дополнительному профессиональному образованию прочая, не включенная в другие группировки</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">88.10</div>
                                <div class="activity-name">Предоставление социальных услуг без обеспечения проживания престарелым и инвалидам</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">93.11</div>
                                <div class="activity-name">Деятельность спортивных объектов</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">93.19</div>
                                <div class="activity-name">Деятельность в области спорта прочая</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">95.11</div>
                                <div class="activity-name">Ремонт компьютеров и периферийного компьютерного оборудования</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">95.22.1</div>
                                <div class="activity-name">Ремонт бытовой техники</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">95.29</div>
                                <div class="activity-name">Ремонт прочих предметов личного потребления и бытовых товаров</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">96.04</div>
                                <div class="activity-name">Деятельность физкультурно-оздоровительная</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">96.09</div>
                                <div class="activity-name">Предоставление прочих персональных услуг, не включенных в другие группировки</div>
                            </div>
                            <div class="activity-item">
                                <div class="activity-code">97.00</div>
                                <div class="activity-name">Деятельность домашних хозяйств с наемными работниками</div>
                            </div>
                        </div>
                        
                        <div class="activities-note">Показано 100+ видов деятельности. Нажмите "Развернуть все" для просмотра полного списка.</div>
                    </div>
                </div>
                
                <!-- Призыв к действию -->
                <div class="company-cta">
                    <p>Доверьте безопасность вашего дома или бизнеса профессионалам! Свяжитесь с нами сегодня, чтобы получить бесплатную консультацию и индивидуальное предложение.</p>
                    <button class="cta-button">Получить консультацию</button>
                </div>
            </div>
        </section>
    </main>
   
    <!-- Кнопка для прокрутки наверх -->
    <button class="scroll-to-top-button" (click)="scrollToTop()">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M18 15l-6-6-6 6"></path>
        </svg>
    </button>
</body>
